body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 120%; 
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #fd5800; 
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:hover {
    background-color: #e0f7fa; 
    transition: background-color 0.3s ease;
}

td {
    padding: 12px 15px;
    font-size: 14px;
    color: #333;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table td, table th {
    transition: background-color 0.3s ease, color 0.3s ease;
}


@media (max-width: 768px) {
    table {
        width: 150%; 
    }

    th, td {
        padding: 8px; 
        font-size: 13px;
    }
}


@media (max-width: 480px) {
    th, td {
        font-size: 12px; 
    }
}

.knop-container {
    display: flex; 
    justify-content: flex-end; 
    margin-bottom: 20px; 
}

.toevoegen-knop {
    display: inline-flex;
    align-items: center;
    background-color: #fd5800; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.toevoegen-knop .icon {
    display: inline-block;
    background: white;
    color: #fd5800; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    margin-right: 10px; 
}

.toevoegen-knop:hover {
    background-color: #e65100; 
    transform: translateY(-2px); 
}

.toevoegen-knop:active {
    transform: translateY(0); 
}